<%- partial('_partial/head') %>

<body
  class="page-template page-template-user page-template-page-analytics page-template-userpage-analytics-php page page-id-1297 chinese-font serif isWebKit">
  <div class="scrollbar" id="bar"></div>
  <a href="#" class="cd-top faa-float animated"></a>
  <section id="main-container">
    <%- partial('_partial/headertop', null, {cache: !config.relative_link}) %>
    <div id="page" class="site wrapper">
      <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
      <%- body %>
    </div>
    <%- partial('_widget/search/insight') %>
    <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>

    <!-- openNav -->
    <div class="openNav no-select">
      <div class="iconflat no-select">
        <div class="icon"></div>
      </div>
      <div class="site-branding">
        <% if (theme.akina_logo) { %>
        <div class="site-title">
          <a href="<% site.url %>"><img src="<%= theme.akina_logo %>"></a>
        </div>
        <% } else { %>
        <h1 class="site-title">
          <a href="<% site.url %>">
            <%- site.title %>
          </a>
        </h1>
        <% } %>
      </div>
    </div>
  </section>

  <%- partial('_partial/mheader', null, {cache: !config.relative_link}) %>
  <%- partial('_partial/aplayer', null, {cache: !config.relative_link}) %>
</body>

</html>