<!-- <footer id="footer"> <% if (theme.sidebar === 'bottom'){ %> <%- partial('_partial/sidebar') %> <% } %> <div class="outer"> <div id="footer-info" class="inner"> &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br> <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a> </div> </div> </footer> -->

<footer id="colophon" class="site-footer" role="contentinfo">
  <div class="site-info">
    <div class="footertext">
      <div class="img-preload">
        <img src="<%= theme.cdn %>/images/other/wordpress-rotating-ball-o.svg">
        <img src="<%= theme.cdn %>/images/other/disqus-preloader.svg"></div>
      <p class="foo-logo"
        style="background-image: url('<%= theme.cdn %>/images/elements/sakura.svg');"></p>

      <!--p style="color: #666666;">Copyright &copy 2018 - 2020 <%= theme.siteName %>. <br> All Rights Reserved.</p-->
      <p style="font-family: 'Ubuntu', sans-serif;">
        <span style="color: #666666;">Crafted with
          <i class="fa fa-heart animated" style="color: #e74c3c;"></i>
          by
          <a rel="me" href="https://hello.2heng.xin/@mashiro" target="_blank"
            style="color: #000000;text-decoration:none;">Mashiro</a></span></p>
      <p>Copyright &copy 2018 - 2020
        <%= theme.siteName %><br>
        <a href="http://www.beian.miit.gov.cn" target="_blank">沪ICP备17028213号</a>
      </p>
    </div>
    <div class="footer-device">
      <p style="font-family: 'Ubuntu', sans-serif;">
        <span style="color: #b9b9b9;">Theme
          <a href="https://github.com/honjun/hexo-theme-sakura" target="_blank"
            style="color: #b9b9b9;;text-decoration: underline dotted rgba(0, 0, 0, .1);">Sakura</a>
          <i class="iconfont icon-sakura rotating" style="color: #ffc0cb;display:inline-block"></i>
          by
          <a href="https://2heng.xin/" target="_blank"
            style="color: #b9b9b9;;text-decoration: underline dotted rgba(0, 0, 0, .1);">Mashiro</a>&<a
            href="https://www.hojun.cn/" target="_blank"
            style="color: #b9b9b9;;text-decoration: underline dotted rgba(0, 0, 0, .1);"><%= theme.siteName %></a>,
          Powered by Hexo,
          Hosted by Github Pages</a>
        </span>
      </p>
      <p>
        <span id="busuanzi_container_site_pv" style="color: #b9b9b9;">
          本站总访问量<span id="busuanzi_value_site_pv">1</span>次
        </span>
      </p>
    </div>

    <p id="footer-sponsor">
      <a href="#" target="_blank" alt="CDN Sponsor" rel="nofollow"><img
          src="<%= theme.cdn %>/images/support/Tencent_Cloud_logo.svg" alt="CDN Sponsor"
          style="height: 1.5em;"></a>&nbsp;&nbsp;&nbsp;<a href="https://www.vultr.com/?ref=7196564" target="_blank"
        alt="Server provider" rel="nofollow"><img
          src="<%= theme.cdn %>/images/support/vultr_logo__on-white.svg" alt="Server provider"
          style="height: 1.5em;"></a>&nbsp;&nbsp;&nbsp;<a href="#" target="_blank" alt="Free CDN" rel="nofollow"><img
          src="<%= theme.cdn %>/images/support/baidu_cdn.svg" alt="jsDelivr"
          style="height: 1.5em;"></a>&nbsp;&nbsp;&nbsp;<a href="https://www.google.com/intl/ja/analytics/"
        target="_blank" alt="Analytics solution" rel="nofollow"><img
          src="<%= theme.cdn %>/images/support/Google.svg" alt="Google Analytics"
          style="height: 1.5em; "></a>
    </p>
  </div>
  <!-- .site-info -->
</footer>

<%- partial('changeSkin-gear') %>
<%- partial('live2d') %>

<script type="text/javascript" src="<%= theme.cdn %>/js/lib.js"></script>
<script type="text/javascript" src="<%= theme.cdn %>/js/InsightSearch.js"></script>
<script type="text/javascript" src="<%= theme.cdn %>/js/jquery.fancybox.min.js"></script>
<script type="text/javascript" src="<%= theme.cdn %>/js/zoom.js"></script>
<script type="text/javascript" src="<%= theme.cdn %>/js/sakura-app_v3.js"></script>
<script type="text/javascript" src="<%= theme.cdn %>/js/autoptimize.js"></script>
<!-- //cdn1.lncld.net/static/js/3.0.4/av-min.js -->
<script type="text/javascript" src="<%= theme.cdn %>/js/av-min.js"></script>
<script type="text/javascript" src="<%= theme.cdn %>/js/botui.js"></script>
<script type="text/javascript" src="<%= theme.cdn %>/js/custom.js"></script>
<script type="text/javascript" src="<%= theme.cdns.clipboard %>"></script>
<!-- Valine评论 -->>
<script type="text/javascript" src="<%= theme.cdns.valine %>"></script>
<!-- 不蒜子 网页计数器 -->
<script async type="text/javascript" src="<%= theme.cdns.busuanzi %>"></script>
<!-- TOC目录 -->
<script type="text/javascript" src="<%= theme.cdns.tocbot %>"></script>

<script type="text/javascript">
  /* <![CDATA[ */
  if (/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) {
    var Poi = {
      "pjax": "<%- theme.pjax %>",
      "movies": {
        "url": "<%- theme.movies.url %>",
        "name": "<%- theme.movies.name%>",
        "live": "close"
      },
      "windowheight": "fixed",
      "codelamp": "close",
      "ajaxurl": "",
      "order": "asc",
      "formpostion": "bottom"
    };
  } else {
    var Poi = {
      "pjax": "<%- theme.pjax %>",
      "movies": {
        "url": "<%- theme.movies.url %>",
        "name": "<%- theme.movies.name%>",
        "live": "open"
      },
      "windowheight": "auto",
      "codelamp": "close",
      "ajaxurl": "",
      "order": "asc",
      "formpostion": "bottom"
    };
  }
  /* ]]> */
</script>


<%- partial('statistics') %>

<script>
  $(document).ready(function () {
    // 处理目录
    if ($(".toc").length > 0 && document.body.clientWidth > 1200) {
      if ($(".pattern-center").length > 0) { //有图的情况
        tocbot.init({
          // Where to render the table of contents.
          tocSelector: '.toc', // 放置目录的容器
          // Where to grab the headings to build the table of contents.
          contentSelector: '.entry-content', // 正文内容所在
          // Which headings to grab inside of the contentSelector element.
          scrollSmooth: true,
          headingSelector: 'h1, h2, h3, h4, h5', // 需要索引的标题级别
          collapseDepth: 3,
          headingsOffset: -300,
          scrollSmoothOffset: -85
        });
      } else {
        tocbot.init({
          // Where to render the table of contents.
          tocSelector: '.toc', // 放置目录的容器
          // Where to grab the headings to build the table of contents.
          contentSelector: '.entry-content', // 正文内容所在
          // Which headings to grab inside of the contentSelector element.
          scrollSmooth: true,
          headingSelector: 'h1, h2, h3, h4, h5', // 需要索引的标题级别
          collapseDepth: 3,
          headingsOffset: -85,
          scrollSmoothOffset: -85
        });
      }
      var offsetTop = $('.toc')
        .offset()
        .top - 95;
      window.onscroll = function () {
        var scrollTop = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop;
        if (scrollTop >= offsetTop) {
          $('.toc').addClass('toc-fixed');
        } else {
          $('.toc').removeClass('toc-fixed');
        }
      }
    }
  });
</script>